<% provide(:title, 'Photos') %>
<%= render 'layouts/navig' %>
<br/>
<h1>Photos</h1>
<%= render 'layouts/side1' %>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>